.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 150px;
  padding-top: 15px;
  background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.5));
  background-color: #003472;
}

.divLogo {
  display: grid;
  grid-template-columns: minmax(150px, 200px) minmax(400px, 600px) minmax(300px, 500px);
  grid-column-gap: 24px;
  grid-template-rows: auto;
  margin-top: 20px;
}

.divLogo img {

  height: 100%;
}

.divInput {
  display: flex;
  justify-content: center;
  width: 100%;
}


.divInput input {
  padding: 0px 10px;
  width: 500px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 20%;
  margin-right: 10px;
}

.divInput input:focus {
  border: solid 0.5px #004daa;
  border-right: none;
}

.divInput .btn {
  height: 0px;
  width: 0px;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #000;

}

.btn i {
  color: #fff;
  position: absolute;
  top: 15px;
  left: -5px;
}


.publicity {
  display: flex;
  justify-content: flex-end;
  width: 390px;
  height: 40px;
  cursor: pointer;

}

.publicity img {
  width: 80%;
  height: 110%;
}

@media (max-width:1110px) {

  .divLogo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: relative;
  }

  .divLogo img {
    display: none;
  }

  .publicity {
    display: none;
  }

  .divInput .btn {

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid #000;

  }

  .btn i {
    top: 25px;
    left: -7px;
    font-size: 15px;
  }
}

@media (max-width:700px) {
  .header {
    display: flex;
    padding: 15px;
    justify-content: flex-start;
  }

  .divInput input {
    max-width: 70%;


  }

}

@media (max-width:460px) {
  .divInput input {
    max-width: 60%;
    margin-left: -50px;
  }

}