.divNav {
  display: grid;
  grid-template-columns: minmax(150px, 162px) minmax(400px, 588px) minmax(300px, 390px);
  grid-column-gap: 24px;
  grid-template-rows: auto;
}

.divCep {
  display: flex;
  width: 88px;
  height: 28px;
  text-decoration: none;
  position: relative;
  margin-bottom: 10px;
}

.divCep i {
  position: absolute;
  font-size: 22px;
  color: #000;
  top: -5px;
}

.cep {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.cep span {
  font-size: 11px;
  color: #303030;
}

.cep p {
  font-size: 13px;
  color: #000;
}

.divList {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 5px;
}

.divList li {
  margin-right: 15px;
}

.divList li a {
  font-size: 13px;
  transition: 0.3s;
  text-decoration: none;
  color: #000;
}

.divList .free {
  position: relative;
}

.divList .free p {
  font-size: 8px;
  font-weight: 600;
  padding: 1px 3px;
  background-color: #00a650;
  letter-spacing: 2px;
  position: absolute;
  right: 25%;
  top: -10px;
  border-radius: 8px;
}

.father {
  position: relative;
  margin-top: 10px;
  padding-bottom: 10px;
}

.children i {
  font-size: 8px;
  margin-left: 5px;
}

.dropdown {
  display: none;
  position: absolute;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f7f7f7;
}


.dropdown i {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #303030;
  position: absolute;
  top: -5px;
  right: 61%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}




.father:hover .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  width: 240px;
}

.divList .father .dropdown a {
  display: flex;
  padding-left: 30px;
  align-items: center;
  width: 100%;
  height: 35px;
  color: white;
}

.dropdown a:hover {
  background-color: #3391ff;
}

@media (max-width:1110px) {
  .divNav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .divList {
    display: none;
  }

  .divCep {
    display: none;
  }

}