.section {
  display: flex;
  justify-content: center;
  height: 344px;
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1386px;
  border-radius: 6px;

}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 23px;
  height: 100px;
  background: linear-gradient(to bottom, #110b3a, #1b062c);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.title .titleDiv h1 {
  font-size: 22px;
}

.title .titleDiv img {
  height: 40px;
}

.titleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.title h2 {
  font-size: 36px;
  position: relative;
}




.containerPublicit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #030429;
  align-items: center;
  height: 175px;
  position: relative;
}

.title2 {
  display: flex;
  height: 30px;
  align-items: flex-end;
  padding-left: 25px;
  width: 100%;
}

.title2 h2 {
  font-size: 18px;
  font-weight: 400;
}

.publicits {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.divPublicit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 283px;
}

.divPublicit span {
  font-size: 16px;
}


.divImg {
  width: 0px;
  height: 0px;

  border: solid 1px #505050;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid #000;
}

.divImg img {
  width: 70px;
  border-radius: 100%;
  position: absolute;
  margin-top: 25px;
  margin-left: -35px;
}

.divPublicit .text {
  width: 177px;
}

.footer {
  display: flex;
  height: 81px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2px;
  padding-right: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: transparent;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid #030429;
  position: relative;
}

.footer a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  background-color: transparent;
  position: absolute;
  bottom: -90px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #14142b;
  transition: 0.3s;
}

.footer a:hover {
  border-bottom: 60px solid #3483fa;
}

@media(max-width:1200px) {
  .section {
    height: auto;
  }

  .container {
    width: 1000px;
    height: 100%;
  }

  .containerPublicit {
    height: 400px;
  }

  .publicits {
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
}

@media(max-width:560px) {
  .container {
    width: 100%;
  }

  .titleDiv {
    flex-direction: column;
  }

  .title2 {
    height: 100px;
  }

  .containerPublicit {
    justify-content: center;
    height: 500px;

  }
}

@media(max-width:360px) {

  .section {
    height: 500px;
    margin-bottom: 150px;
  }

  .divPublicit {
    justify-content: space-between;
    width: 90%;
  }

  .divImg {
    border: solid 1px #505050;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #000;
  }

  .divImg img {
    width: 50px;

  }
}