.section {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 500px;
  height: 286px;
  background-color: #032042;
}

.carousel {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 1386px;
  z-index: 1000;

}

.divAccess {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #151047;
  border-radius: 20%;
  padding: 5px 15px;
  width: 200px;
  height: 80%;
  opacity: 0.7;
}

.slides div::after {
  border-radius: 100%;
  position: absolute;
  left: -20px;
  padding: 10px;
  background-color: #032042;

}

.divAccess h3 {
  font-size: 16px;
}

.divImg {
  width: 105px;
  height: 105px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid #000;
}

.divImg img {
  width: 60px;
  object-fit: cover;
  position: absolute;
  top: 85px;
  left: 70px;
}

.divAccess span {
  font-size: 14px;
}

.divAccess a {
  font-weight: 600;
  font-size: 12px;
  border-radius: 6px;
  color: #fff;
  padding: 6px 8px;
  background-color: #001e41;
  text-decoration: none;
}

@media(max-width:1400px) {
  .slides {
    width: 1200px;
  }
}

@media(max-width:1200px) {
  .slides {
    max-width: 900px;
  }
}

@media(max-width:900px) {
  .slides {
    width: 700px;
  }
}

@media(max-width:700px) {
  .slides {
    width: 500px;
  }
}

@media(max-width:530px) {
  .slides {
    width: 250px;
  }
}