.section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 422px;


}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1186px;
  height: 100%;
}

.offerDay {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  flex-direction: column;
  border-radius: 6px;
  width: 338px;
  height: 100%;
  background-color: #000;
}

.offerDay a {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.offerDay img {
  width: 200px;
}

.offerDay p {
  font-size: 16px;
}

.offerDay span {
  font-size: 14px;
}



.offerDay h2 {
  font-size: 32px;
  font-weight: 400;
  position: relative;

}

.offerDay .centav {
  position: absolute;
  top: 5px;
  font-size: 16px;
  font-weight: 400;
}

.offerDay .off {
  color: #00a650;
  font-size: 16px;
  font-weight: 600;
  margin-left: 25px;
}

.fill {
  height: 130px;
}

@media(max-width:650px) {
  .container {
    justify-content: center;
  }

  .offerDay {
    display: none;
  }
}