.section {
  display: flex;
  justify-content: center;
  height: 344px;
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1186px;
  border-radius: 6px;

}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 23px;
  height: 87px;
  background: linear-gradient(to right, #5A238D, #AA1192);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.title .titleDiv h1 {
  font-size: 22px;
}

.title .titleDiv img {
  height: 40px;
}

.titleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.title h2 {
  font-size: 36px;
  position: relative;
}

.title .centav {
  font-size: 16px;
  top: 5px;
  position: absolute;
}

.title .month {
  font-size: 20px;
  margin-left: 25px;
}



.containerPublicit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  height: 175px;
}

.title2 {
  display: flex;
  height: 30px;
  align-items: flex-end;
  padding-left: 25px;
  width: 100%;
}

.title2 h2 {
  font-size: 18px;
  font-weight: 400;
}

.publicits {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.divPublicit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 283px;
}

.divPublicit span {
  font-size: 16px;
}


.divImg {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  border: solid 1px darkgrey;
}

.divImg img {
  max-width: 100%;
  border-radius: 100%;
}

.divPublicit .text {
  width: 177px;
}

.footer {
  display: flex;
  height: 81px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2px;
  padding-right: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #fff;
}

.footer a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 6px;
  background-color: #3483fa;
}

@media(max-width:1200px) {
  .section {
    height: auto;
  }

  .container {
    width: 1000px;
    height: 100%;
  }

  .containerPublicit {
    height: 400px;
  }

  .publicits {
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
}

@media(max-width:560px) {
  .container {
    width: 100%;
  }

  .titleDiv {
    flex-direction: column;
  }

  .title2 {
    height: 100px;
  }

  .containerPublicit {
    justify-content: center;
    height: 500px;
  }
}