.section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 355px;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1186px;
  height: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  background-image: url('https://http2.mlstatic.com/D_NQ_829617-MLU74642844308_022024-OO.webp');
  background-size: cover;
  background-repeat: no-repeat;
}


.divText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
  width: 302px;
  height: 280px;
}

.divText h2 {
  font-size: 28px;
  font-weight: 500;
}

.divImg {
  display: flex;
  width: 165px;
  height: 66px;
}

.acess {
  padding-left: 15px;
}

.acess a {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.divVideo {
  display: flex;
  width: 560px;
  height: 315px;
}

.divVideo iframe {
  border: none;
}

@media(max-width:920px) {
  .section {
    height: auto;
  }

  .container {
    flex-direction: column;
    max-width: 95%;
    justify-content: space-around;
    height: 710px;
  }

  .divText {
    align-items: center;
    max-width: 100%;
  }

  .divVideo {
    max-width: 100%;
  }

  .divVideo iframe {
    width: 100%;
  }
}